.content {
  font-size: 14px;
  margin-left: 5%;
}

.header {
  background-color: antiquewhite;

}

.sty {
  border: none;
  background-color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px
}

li {
  padding-left: 10px;
}