th,
tr,
td {
  padding: 20px;
  border: 1px solid rgb(196, 196, 196);
}

th {
  background-color: antiquewhite;
}

.grouped {
  width: 90%;
  margin-left: 5%;
  padding: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.group-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

span,
.buttons-group {
  margin: 5px;
}
