
<div style="width: 30%; display: flex; justify-content: center; flex-direction: column; align-items: center; margin-left: 30%;">
  <div style="display: flex; flex-direction: row; justify-content: flex-start">
    <div class="buttons-group">
      <span>
        <button class="btn btn-success button" type="button" (click)="openInsertModal()">
          Cadastrar
        </button>
      </span>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control rounded-3" style="max-width: 100%;" (keyup)="filterSchools(searchTerm)"  [(ngModel)]="searchTerm" />
      <label for="floatingInput">Busque por descrição</label>
    </div>

  </div>

  <div *ngIf="notHaveAlert">
    <div class="col d-flex flex-column gap-2">
      <p class="text-body-secondary">Não há escolas cadastrados</p>
    </div>
  </div>

  <div class="table-responsive">
    <table *ngIf="!notHaveAlert">

    <tr>
      <th>Código</th>
      <th>Escola</th>
      <th></th>
    </tr>
    <tr *ngFor="let school of schools">
      <td>{{ school.iCodEscola }}</td>
      <td>{{ school.sDescricao }}</td>
      <td>
        <button class="btn btn-primary mt-2" type="button" (click)="openAlterModal(school)">
          Alterar
        </button>
      </td>
    </tr>
  </table>
</div>
